.clear:after
{
	clear: both;
	content:"";
	display: block;
}
.top
{
	height: 42px;
	background: #010102;
}
.toper
{
	margin:0 auto;
	width: 1150px;
	height: 42px;
}
.a
{
	float: left;
	width: 100px;
	height: 42px;
	line-height: 42px;
	text-align: center; 
}
.a0
{
	float: left;
	width: 150px;
	height: 42px;
	line-height: 42px;
	text-align: center; 
}
.a0 a
{
	color: #dddddd;
	font-size: 20px;
	font-family: "microsoft yahei";
}
.a a
{
	color: #dddddd;
	font-size: 12px;
	font-family: "microsoft yahei";
}
.footer
{
	height: 80px;
	background: #F4F4F4;
}
.foot
{
	width: 1150px;
	margin:0 auto;
	height: 80px;
	line-height: 80px;
}
.f
{
	float: left;
}
.f a
{
	color: #949494;
	line-height: 80px;
	font-family: "microsoft yahei";
	font-size: 12px;

}
.ff
{
	display: inline-block;
	width: 750px;
	height: 80px;
	line-height: 80px;
	font-family: "microsoft yahei";
	color: #949494;
	font-size: 12px;
	float: left;
}
.o
{
	float: left;
	width: 80px;
	height: 80px;
	line-height: 80px;
}
.content
{
	width: 1112px;
	height: 572px;
	background: #F5F5F5;
	margin:0 auto;
	overflow: hidden;
}
.zhong
{
	width: 1366px;
	height: 772px;
	background: #09070E ;
	margin:0 auto;
	overflow: hidden;
	font-family: "microsoft yahei";
}
.h1
{
	width: 106px;
	height:25px;
	background: #CB00DA;
	margin-top: 75px;
	margin-left:127px;
	color: white;
	font-size: 16px;
	text-align: center;
}
.t0
{
	color: #ef3a05;
	font-size: 14px;
}
.t1
{
	color: #3b3b3b;
	font-size: 12px;
}
.content1
{
	margin-left: 20px;
	margin-top: 30px;
	line-height: 20px;
}